<style>
    .indexClass{
        display: flex;
        justify-content: center;
    }
    .aClass{
        margin: 50px;
        align-items: center;
    }
</style>

<div class="indexClass">
    <a href="/api/products" class="aClass btn btn-danger">
        Lista de productos
    </a>
    <a href="/api/addProduct" class="aClass btn btn-danger">
        Agregar un producto
    </a>
    <a href="/chat" class="aClass btn btn-success">
        Dejanos un mensaje
    </a>
</div>